
    
        body {
            background-color: #f8f6ff;
            font-family: Arial, sans-serif;
        }

        /* Nama warna */
        .warna1 {
            color: lavender;
            background-color: #cdb4db; /* pastel ungu */
            padding: 12px;
            margin: 8px;
            border-radius: 8px;
        }

        /* RGB */
        .warna2 {
            color: rgb(90, 140, 255); /* pastel biru */
            background-color: rgb(225, 235, 255);
            padding: 12px;
            margin: 8px;
            border-radius: 8px;
        }

        /* RGBA */
        .warna3 {
            color: rgba(255, 105, 180, 0.9); /* pastel pink */
            background-color: rgba(255, 182, 193, 0.5);
            padding: 12px;
            margin: 8px;
            border-radius: 8px;
        }

        /* HSL */
        .warna4 {
            color: hsl(270, 60%, 55%); /* ungu pastel */
            background-color: hsl(270, 100%, 95%);
            padding: 12px;
            margin: 8px;
            border-radius: 8px;
        }

        /* HSLA */
        .warna5 {
            color: hsla(210, 70%, 45%, 0.9); /* biru pastel */
            background-color: hsla(210, 100%, 95%, 0.9);
            padding: 12px;
            margin: 8px;
            border-radius: 8px;
        }
    